.headings {
  color: orange;
}

.intro-div {
  border-radius: 10% 10% 100% 0% / 0% 0% 19% 0%;
  border-style: none none groove none;
  border-color: orange;
}

.project-div {
  border-radius: 10% 10% 100% 0% / 0% 0% 15% 0%;
  border-style: none none groove none;
  border-color: orange;
}

.profile-image {
  border-radius: 39% 61% 33% 67% / 56% 33% 67% 44%;
  border-style: groove;
  border-color: orange;
}

.socials-spacing {
  margin-left: 10px;
  margin-right: 10px;
}

.socials {
  margin-top: 10px;
  fill: lightgray;
}

.socials:hover {
  fill: orange;
  cursor: pointer;
  transition: fill 1s;
}

.btn-light:hover {
  border-style: groove;
  border-color: orange;
  transition: border-color 1s;
}

/* Styling for the popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: auto; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
