.headings {
  color: orange;
}

.intro-div {
  border-radius: 10% 10% 100% 0% / 0% 0% 19% 0%;
  border-style: none none groove none;
  border-color: orange;
}

.project-div {
  border-radius: 10% 10% 100% 0% / 0% 0% 15% 0%;
  border-style: none none groove none;
  border-color: orange;
}

.profile-image {
  border-radius: 39% 61% 33% 67% / 56% 33% 67% 44%;
  border-style: groove;
  border-color: orange;
}

.socials-spacing {
  margin-left: 10px;
  margin-right: 10px;
}

.socials {
  transition-timing-function: ease-in-out;
  margin-top: 10px;
}

.socials:hover {
  fill: orange;
  cursor: pointer;
  transition: fill 1s;
}
