body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* White text color */
  margin: 0;
  padding: 0;
}

.fst-italic {
  font-style: italic !important;
}

.lh-1 {
  line-height: 1 !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

.countdown {
  font-size: 3rem;
  margin-top: 30px;
  animation: fadeIn 2s ease; /* Fade in animation */
}

.socials-spacing {
  /* margin-left: 10px; */
  margin-right: 10px;
}

.socials {
  fill: gray;
}

.socials:hover {
  fill: orange;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
